# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd

# Entornos virtuales
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Distribución / empaquetado
dist/
build/
*.egg-info/
*.egg
.eggs/

# ==========================
# Jupyter Notebooks
# ==========================
.ipynb_checkpoints/
*.ipynb_checkpoints

# ==========================
# IDEs y Editores
# ==========================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ==========================
# Variables de entorno
# ==========================
.env
.env.local

# ==========================
# Datos y Modelos ML
# ==========================
*.csv
*.pkl
*.h5
*.model
*.joblib
data/raw/
data/processed/

# ==========================
# Sistema Operativo
# ==========================
.DS_Store
Thumbs.db
desktop.ini
